<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="connection.xml"/>

    <bean id="studentDao" class="com.train.dao.impl.StudentDaoImpl">
        <property name="commonDao" ref="commonDao"/>
    </bean>
    
    <bean id="studentConvert" class="com.train.convert.impl.StudentConvert"/>

    <bean id="convertFrom2model" class="com.train.convert.impl.StudentConvertForm2Model"/>

    <bean id="studentService" class="com.train.service.impl.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"/>
        <property name="commonService" ref="commonService"/>
        <property name="studentConvert" ref="studentConvert"/>
        <property name="convertFrom2model" ref="convertFrom2model"/>
    </bean>
</beans>